.blog {
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
}

.blog:not(:last-child) {
	margin-bottom: 3.75rem;
}

.blog img {
	height: 100%;
	object-fit: cover;
}

.blog-article {
	grid-template-rows: repeat(2, auto) 1fr auto;
	grid-template-columns: 1fr auto;
	grid-template-areas:
		"title      title"
		"sub-title  date"
		"paragraph  paragraph"
		".          more";
}

.blog-article h2 {
	grid-area: title;
	font-size: 2rem;
}

.blog-article h3 {
	grid-area: sub-title;
	font-size: 1.25rem;
}

.blog-article small {
	grid-area: date;
	text-align: right;
	align-self: center;
	font-size: 1rem;
}

.blog-article p {
	grid-area: paragraph;
	margin-top: 1rem;
	font-size: 1.25rem;
}

.blog-more-md-btn {
	display: none;
}

.blog-more-lg-btn {
	grid-area: more;
	font-size: 2.25rem;
}

@media (max-width: 991px) {
	.blog:not(:last-child) {
		margin-bottom: 1.5rem;
	}

	.blog-article h2 {
		font-size: 1.5rem;
	}

	.blog-article h3 {
		font-size: 1rem;
	}

	.blog-article p {
		margin-top: 0.25rem;
		font-size: 1rem;
	}

	.blog-more-md-btn {
		display: inline-block;
	}

	.blog-more-lg-btn {
		display: none;
	}
}

@media (max-width: 767px) {
	.blog {
		grid-template-columns: 1fr;
		gap: 0.5rem;
	}

	.blog-article p {
		display: none;
	}
}
